Explore the crimes.csv dataset and use your findings to answer the following questions:

Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.
Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.
Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("/crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

In [62]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  datetime64[ns]
 2   DATE OCC      185715 non-null  datetime64[ns]
 3   TIME OCC      185715 non-null  object
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 17.0+ MB

In [63]:

crimes['TIME OCC']=crimes['TIME OCC'].astype(int)

In [64]:
crimes['TIME OCC'].value_counts()

TIME OCC
1200    6462
1800    3991
2000    3769
1700    3754
1       3587
        ...
2332       4
2259       3
511        3
528        3
531        3
Name: count, Length: 1439, dtype: int64

In [65]:
peak_crime_hour = crimes['TIME OCC'].value_counts().idxmax()
peak_crime_hour

1200

In [66]:
night_range = (crimes['TIME OCC'] >= 2200) | (crimes['TIME OCC'] <= 359)
day_range = (crimes['TIME OCC'] >= 600) & (crimes['TIME OCC'] <= 2159)

In [67]:
day_part = ['night','day']
conditions = [night_range, day_range]

In [68]:
crimes['day_part']=np.select(conditions,day_part,default='other')
crimes[crimes['day_part'] == 'night'].groupby('AREA NAME')['day_part']\
.value_counts(ascending=True)
peak_night_crime_location = 'Central'

In [69]:
age = [
    (crimes['Vict Age'] >= 0) & (crimes['Vict Age'] <= 17),   # Age between 0 and 17
    (crimes['Vict Age'] >= 18) & (crimes['Vict Age'] <= 25),  # Age between 18 and 25
    (crimes['Vict Age'] >= 26) & (crimes['Vict Age'] <= 34),  # Age between 26 and 34
    (crimes['Vict Age'] >= 35) & (crimes['Vict Age'] <= 44),  # Age between 35 and 44
    (crimes['Vict Age'] >= 45) & (crimes['Vict Age'] <= 54),  # Age between 45 and 54
    (crimes['Vict Age'] >= 55) & (crimes['Vict Age'] <= 64),  # Age between 55 and 64
    (crimes['Vict Age'] >= 65)                       # Age 65 and above
]

In [70]:
age_part = ['0-17', '18-25', '26-34', '35-44', '45-54', '55-64', '65+']

In [71]:
crimes['age_group']=np.select(age,age_part,default='unknown')

In [72]:
victim_ages = crimes['age_group'].value_counts()
victim_ages

age_group
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64